
__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.venv/
env/
.env_python

pip-log.txt
pip-delete-this-directory.txt

node_modules/
dist/
dist-ssr/
build/
.npm/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.production
*.pem
secrets.json

*.lib 
qdrant_storage/

temp_uploads/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

Thumbs.db
Desktop.ini


.DS_Store
.AppleDouble
.LSOverride